<%- partial ('../topbar.ejs') %>
<div id="chat" ng-app="meetingroom" ng-controller="meetingroomController">

    <div id="myslimscroll">
        <ul class="content">
            <li ng-repeat="message in messages">
                <div class="chatPicture">
                    <a href="#" class="shadow"><img ng-src="{{message.img}}" width="60px" height="60px"></a>
                </div>
                <div class="chatPost">
                    <span class="chatName" ng-bind="message.user"></span><span class="chatTimestamp">{{message.timestamp | date:'medium'}}</span>
                    <p ng-repeat="p in message.text" ng-bind="p"></p>
                </div>
            </li>

        </ul>
    </div>

    <div id="messageBoxContainer">
        <div class="chatPicture"><a href="#" class="shadow"><img src="/img/profile_pictures/andreas.png" width="60px" height="60px"></a>
        </div>
        <div id="messageBox">
            <textarea id="message" rows="3" ng-enter="runThisMofo()" placeholder="Write your message..."></textarea>
        </div>
    </div>
</div>


<script src="/libs/jquery/jquery-2.0.3.min.js"></script>
<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/jquery.slimscroll.js"></script>
<!--<script src="/libs/nanoScroller/jquery.nanoscroller.js"></script>
<script src="/libs/nanoScroller/scrollable.js"></script>-->
<script src="/modules/meetingroom/meetingroom.js"></script>
