<!DOCTYPE html>
<html>
<head>
    <title>Webfrontier</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/libs/normalize.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" type="text/css">
    <link rel="stylesheet" href="/libs/font-awesome-4.0.3/css/font-awesome.min.css" type="text/css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="/libs/sails.io.js"></script>
</head>

<body>
<header>
    <ul class="nav">
        <li>
            <a href="/meetingroom"><i class="fa fa-comments"></i><span>meeting room</span></a>
        </li>
        <li>
            <a href="/timetracker"><i class="fa fa-clock-o"></i><span>time tracker</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-dropbox"></i><span>build it</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-list-alt"></i><span>my tasks</span></a>
        </li>
    </ul>
</header>

<section id="main">

    <%- body %>

</section>

<!--SCRIPTS-->

<!--SCRIPTS END-->
</body>
</html>
