<%- partial ('../topbar.ejs') %>
<div id="sign-up-page">

    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

    <h2>Welcome stranger</h2>

    <form action="/user/create" method="POST">
        <table cellpadding="4">
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>Repeat password</td>
                <td>
                    <input type="password" name="confirmation">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create account"><td>
            </tr>
        </table>
    </form>

</div>
